* {
    --fret-color: grey;
    --string-color: black;
    --string-width: 3px;
}

.chord-box {
    font-size: 3vmax;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .first-fret-label {
        position: absolute;
        margin-left: -1em;
        margin-top: 2em;
        width: 2em;
    }

    .nut {
        background: white;
    }

    .nut-marking {
        display: inline-block;
        text-align: center;
        width: 2.5em;
    }

    .fret-0 {
        border-top: 3pt double var(--fret-color);
        height: 1px;
    }

    .fretboard {
        display: table;
        float: left;
        margin-top: 0.3em;
        background: hsl(33, 79%, 87%);
    }

    .frets {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        border-bottom: 2pt solid var(--fret-color);
        border-top: 2pt solid var(--fret-color);
    }

    // Undo all but the first border-top:
    .frets~.frets {
        border-top: none;
    }

    .fret-number {
        display: inline-block;
        position: absolute;
        top: 0.6em;
        width: 1em;
        height: 2em;
        left: -1em;
    }

    .string {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 2.5em;
        height: 2.5em;

        overflow: hidden;
        margin: 0;
        padding: 0;
        background: linear-gradient(to right,
                transparent 0%,
                transparent calc(50% - var(--string-width)),
                var(--string-color) 50%,
                var(--string-color) 50%,
                transparent calc(50% + var(--string-width)),
                transparent 100%);
    }

    .finger {
        display: inline-block;
        margin-top: 0.4em;
        padding: 0.3em;
        width: 1.8em;
        height: 1.8em;
        vertical-align: middle;
        border: 1px solid white;
        color: white;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        font-family: sans-serif;
    }

    .finger-1 {
        background-color: navy;
    }

    .finger-2 {
        background-color: green;
    }

    .finger-3 {
        background-color: orange;
    }

    .finger-4 {
        background-color: fuchsia;
    }

    .barre-start {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
        width: 2.5em;
        text-align: left;
        padding-left: 0.75em;
    }

    .barre-mid {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        width: 2.5em;
        text-align: middle;
        padding-left: 0.375em;
        padding-right: 0.375em;
        color: transparent;
    }

    .barre-end {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border-left: 0;
        width: 2.5em;
        text-align: right;
        padding-right: 0.75em;
    }

}