<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='centered' id='details'>

  <section class='chord-box' *ngFor="let inversionShape of shapesForInversions | keyvalue">

    <div class="fretboard">

      <!-- <div class="first-fret-label" *ngIf="inversionName2firstFrettedStringFingering[ inversionShape.key ] > 1">
        {{ inversionName2firstFrettedStringFingering[ inversionShape.key ] || '&nbsp;' }}
      </div> -->

      <div class='nut'>
        <span class='fret-number'>&nbsp;</span>
        <span *ngFor="let mark of nutMarkings[inversionShape.key]" class="nut-marking">
          {{ mark }}
        </span>
      </div>

      <div *ngFor="let fret of inversionShape.value | keyvalue: numeric" class='frets fret-{{ fret.key }}'>
        <span class='fret-number'>{{ (['3', '5', '7', '9', '12', '15', '17', '19', '24'].includes(fret.key)) ? fret.key : '&nbsp;' }}</span>
        <span *ngFor="let finger of fret.value, index as i" class="string">
          <span *ngIf="finger" class="finger finger-{{ finger }} {{ barre[fret.key] && barre[fret.key][i] ? 'barre-'+barre[fret.key][i] : '' }}">{{ finger
            }}</span>
        </span>
      </div>
    </div>

  </section>

</ion-content>