<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="centered">

  <section class='chord-box' routerLink="/inversion/{{ instrument }}/{{ tuning }}/{{ note }}/{{ type }}/{{ inversionShape.key }}" routerDirection="forward"
    *ngFor="let inversionShape of shapesForInversions | keyvalue: chordOrder">

    <h2> {{ inversionShape.key }} </h2>

    <div class="fretboard">

      <div class="first-fret-label">
        {{ inversionName2firstFrettedStringFingering[ inversionShape.key ] || '&nbsp;' }}
      </div>

      <div class='nut'>
        <span *ngFor="let mark of nutMarkings[inversionShape.key]" class="nut-marking">
          {{ mark }}
        </span>
      </div>

      <div *ngFor="let fret of inversionShape.value | keyvalue: numeric" class='frets fret-{{ fret.key }}'>
        <span *ngFor="let finger  of fret.value" class="string">
          <span *ngIf="finger" class="finger finger-{{finger}}">{{ finger }}</span>
        </span>
      </div>
    </div>

  </section>

</ion-content>