.chord-box {

    display: flow-root;
    position: relative;
    font-size: 4pt;
    margin: 0 0 4em 4em;
    float: left;
    min-height: 125px;

    h2 {
        font-size: 1rem;
        margin-bottom: 4pt;
    }

    .first-fret-label {
        position: absolute;
        margin-left: -1em;
        margin-top: 0.5em;
        width: 2em;
    }

    .nut {
        background: white;
    }

    .nut-marking {
        display: inline-block;
        text-align: center;
        width: 2.5em;
    }

    .fret-0 {
        border-top: 3pt double var(--preview-fret-color);
        height: 1px;
    }

    .fretboard {
        display: table;
        float: left;
        margin-top: 0.3em;
    }

    .frets {
        display: block;
        margin: 0;
        padding: 0;
        border-bottom: 1pt solid var(--preview-fret-color);
        border-top: 1pt solid var(--preview-fret-color);
    }

    // Undo all but the first border-top:
    .frets~.frets {
        border-top: none;
    }

    .string {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 2.5em;
        height: 2.5em;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background: linear-gradient(to right,
                transparent 0%,
                transparent calc(50% - 0.81px),
                var(--preview-string-color) calc(50% - 0.8px),
                var(--preview-string-color) calc(50% + 0.8px),
                transparent calc(50% + 0.81px),
                transparent 100%);
    }

    .finger {
        display: inline-block;
        margin-top: 1pt;
        vertical-align: middle;
        color: black;
        background-color: black;
        border-radius: 50%;
        padding: 0.3em;
        text-align: center;
        font-family: sans-serif;
        width: 2em;
    }
}