<ion-header>
  <ion-toolbar>
    <ion-title> Chord Index </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list lines="none" *ngFor="let note of chordDb[instrument][tuning] | keyvalue">
    <ion-list-header>
      <ion-label>{{note.key}} shapes</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let chord of note.value | keyvalue"
      href='chord/{{ instrument }}/{{ tuning }}/{{ note.key }}/{{ chord.key }}'>
      <ion-icon slot="start" color="medium" name="musical-notes"></ion-icon>
      <ion-label>{{ chord.key }}</ion-label>
    </ion-item>

  </ion-list> -->

    <div class='circle-container'>

        <div><a href='chord/{{ instrument }}/{{ tuning }}/A/major'>A</a></div>
        <div>E</div>
        <div>B C♭</div>
        <div>F♯ G♭</div>
        <div>D♭ C♯</div>
        <div>A♭</div>
        <div>E♭</div>
        <div>B♭</div>
        <div>F</div>
        <div>C</div>
        <div>G</div>
        <div>D</div>

    </div>>
      
</ion-content>