<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>
      Instruments and Tunings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let instrument of instrumentDb | keyvalue">
    <ion-card-header>
      <ion-card-title>{{instrument.key}}</ion-card-title>
    </ion-card-header>

    <ion-item *ngFor="let tuning of instrument.value | keyvalue"
      (click)="setInstrumentTuning(instrument.key, tuning.key)">
      <ion-icon slot="start" color="medium" name="musical-notes"></ion-icon>
      <ion-label>{{ tuning.key }}</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
