<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>
    Chords for Illy, an experiment in Angular with asynchronious local storage.
  </p>

  <p>
    If Illy decides to learn some jazz manouche, I shall add more chords there.
  </p>

  <p>
    If she decides to pick up the mandola, I shall add that instrument too.
  </p>

  <p>
    If you stumble across this, you can contact me at <a href=mailto:leegee@gmail.com target=_blank>here</a>.
  </p>


</ion-content>